

body{
    font: 1rem/1.6 var(--bs-font-sans-serif);
    
}

#first, #CapstoneProjects, #footer{
background-color: rgb(35, 35, 39);
color: #f8f9fa;
padding-bottom: 4.5rem;
}


#minor{
  background-color: #e2e5e7;
  padding-bottom:8rem;
}

#footer{

  height: 150px;
  margin:auto;

  }
.date{

  text-align:center;
  height: 100px;
  padding:20px;
  
}

.title-l {
margin-left:50px;
font-family: 'Raleway', sans-serif;
font-size: 8vw;
color:rgba(255, 255, 255, 0.082);
border:0;
}


.cap-img{
height: 200px;
width: 200px;
border: 2px solid #bababb;
border-radius: 25px;
margin: 10px 5px;
background: url("https://media.sketchfab.com/models/8be4a2579dd84586b915068e475073ee/thumbnails/484917a810774734a2712217d8b86a89/a5fe8fafcb3e4da5a21da24f16bee0da.jpeg") no-repeat center;
background-size: 180%;

}

.minor-img{
height: 100px;
width: 100px;
border: 2px solid rgb(41, 41, 43) 100%;
border-radius: 15px;
margin: 100px 5px 14px;
}

@media (max-width: @screen-xs) {
  .link-info{font-size: 1.9rem;}
}

@media (max-width: @screen-sm) {
  .link-info{font-size: 1.8rem;}
}


h5{
  font-size: 1.6rem;
}       